* {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*variaveis color */
:root {
    --text-color: white;
    --bg-mobile: url(img/bg-mobile.jpg);
    --bg-url: url(img/bg-desktop.jpg);
    --strock-color:  rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(img/moonstars.svg);
}

.light {
    --text-color: black;
    --bg-mobile: url(img/bg-mobile-light.jpg);
    --bg-url: url(img/bg-desktop-light.jpg);
    --strock-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(255, 255, 255, 0.5);
    --surface-color-hover: rgba(255, 255, 255, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(img/sun.svg);
}

body {
    background:  var(--bg-url) no-repeat top center/cover;
    transition: 2.2s;
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0;
    padding: 0 24px;
}

/*profile*/
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
}
#profile p {
    font-weight: 500;
    line-height: 24px;
}

/*switch*/

#switch{
    position: relative;
    width: 64px;

    margin: 4px auto;
}
#switch span {
    display: block;
    border-radius: 9999px;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--strock-color);
    backdrop-filter: blur(4px);
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.4s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

/*links*/

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}
ul li a {
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;

    background-color: var(--surface-color);
    border: 1px solid var(--strock-color);
    border-radius: 10px;
    backdrop-filter: blur(4px);

    transition: background 0.3s;
}
ul li a:hover {
    background-color: var(--surface-color-hover);
    border: 1px solid var(--text-color);
}


/*social links*/

#social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 12px 0;
    font-size: 24px;
}

#social-links a{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-decoration: none;
    transition: background .2s;
}
#social-links a:hover {
    background-color: var(--highlight-color);
    padding: 16px;
}

/*footer*/ 

footer {
    padding: 24px 0;
    text-align: center;
}

/*animation*/
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}
@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

/*responsividade*/
@media (max-widht: 768px){
   body {
    background: var(--bg-mobile) no-repeat cover;
   }
}